:root {
  --main: #329993;
  --main-opacity: rgb(50, 153, 147, 0.2);
  --main-text: white;
  --main-background: #ffff;

  --base-white: #fff;
  --base-black: #000;
  --base-grey: #465352;
  --base-purple: #673ab7;

  --light-main: #e8f7f7;

  --accent: #ffd740;
  --warn: #f44336;
  --green: #00b207;

  --additional-warn: #d00;
  --additional-black: #171c1b;
  --additional-grey: #758a88;

  --main-auth: #5b8078;
  --additional-auth: #3c615c;

  --loader-primary: #829e98;
  --loader-secondary: #5b8078;
}
