<section class="section-auth">
  <div class="section-auth__block">
    <h1 class="block__title">
      {{
        (currentRoute$ | async) === authRoutes.signUp
          ? EAuthTemplateText.signUpText
          : EAuthTemplateText.signInText
      }}
    </h1>
    <div class="block__info">
      <img
        class="info__img"
        [src]="
          (currentRoute$ | async) === authRoutes.signUp
            ? EAuthImages.signUpImage
            : EAuthImages.signInImage
        "
        alt="image"
      />

      <div class="block__forms">
        <form
          *ngIf="(currentRoute$ | async) === authRoutes.signIn"
          class="forms__item"
          [formGroup]="signInForm"
        >
          <mat-form-field class="item__field">
            <mat-label>Email</mat-label>
            <input
              type="email"
              formControlName="email"
              matInput
              placeholder="Email"
            />
          </mat-form-field>

          <mat-form-field class="item__field">
            <mat-label>Password</mat-label>
            <input
              type="password"
              formControlName="password"
              matInput
              placeholder="Confirm Password"
            />
          </mat-form-field>

          <mat-checkbox class="item__checkbox">Remember me!</mat-checkbox>

          <button
            [disabled]="!signInForm.valid"
            (click)="signIn()"
            class="item__button"
            type="submit"
          >
            Sign In
          </button>

          <p class="item__text">
            Don’t have an account?
            <span
              (click)="navigateTo(EAuthRoutes.signUp)"
              class="item__text text__span"
              >Sign-up</span
            >
          </p>
        </form>

        <form
          *ngIf="(currentRoute$ | async) === authRoutes.signUp"
          class="forms__item"
          [formGroup]="signUpForm"
        >
          <mat-form-field class="item__field">
            <mat-label>Email</mat-label>
            <input
              type="email"
              formControlName="email"
              matInput
              placeholder="Email"
            />
          </mat-form-field>

          <mat-form-field class="item__field">
            <mat-label>Password</mat-label>
            <input
              type="password"
              formControlName="password"
              matInput
              placeholder="Password"
            />
          </mat-form-field>

          <mat-form-field class="item__field">
            <mat-label>Confirm Password</mat-label>
            <input
              type="password"
              formControlName="confirmPassword"
              matInput
              placeholder="Confirm Password"
            />
            <mat-error *ngIf="passwordMismatch"
              >Passwords do not match!</mat-error
            >
          </mat-form-field>

          <button
            [disabled]="!signUpForm.valid"
            (click)="signUp()"
            class="item__button"
            type="submit"
          >
            Sign Up
          </button>

          <p class="item__text">
            Have already an account?
            <span
              (click)="navigateTo(EAuthRoutes.signIn)"
              class="item__text text__span"
              >Sign-in</span
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
