:host::ng-deep {
  .mat-expansion-panel {
    box-shadow: none !important;
  }

  .mat-expansion-panel-header {
    padding: 0 10px 0 0;
  }

  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background: transparent;
  }

  .mat-expansion-indicator::after {
    border-width: 0 1px 1px 0;
    color: var(--main);
  }

  .mat-expansion-panel-body {
    padding: 0 10px;
  }
}

.panel-title {
  font-size: 16px;
  margin-right: 3px;
}

.sub {
  font-size: 14px;
  font-weight: 400;
  color: var(--additional-grey);
}

.accordion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;

  .mat-icon {
    color: var(--additional-grey);
    cursor: pointer;
  }

  &-file {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    color: var(--additional-grey);
    font-weight: 400;
    font-size: 14px;
  }
}

.show-more {
  cursor: pointer;
  font-weight: 500;
  color: var(--main);
}

.accordion-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;

  .image-item {
    width: 100px;
    height: 100px;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

  }

  .show-more-images img {
    background: var(--base-grey);
    opacity: .5;
  }

  .show-images-action {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
}
