<div class="sidebar">

  <div class="sidebar-nav">
    <div class="sidebar-user-img">
      <img src="./assets/images/user-img.svg" imgDir loading="lazy">
    </div>
    <div class="sidebar-nav-item" *ngFor="let tab of sidebarNav"
         [routerLink]="tab.path"
         routerLinkActive="active">
      <mat-icon [svgIcon]="tab.icon"></mat-icon>
    </div>
  </div>

  <app-lang-switcher></app-lang-switcher>
  <div class="sidebar-nav-bottom">
    <div class="sidebar-nav-item" *ngFor="let tab of sidebarBottomNav"
         (click)="!tab ? logout() : goToPage(tab.path)">
      <mat-icon [svgIcon]="tab.icon"></mat-icon>
    </div>
  </div>
</div>
