<div class="sidebar">

  <div class="sidebar-nav">
    <div class="sidebar-user-img">
      <img src="./assets/images/user-img.svg">
    </div>
    <div class="sidebar-nav-item" *ngFor="let tab of sidebarNav;let idx = index"
         [routerLink]="tab.path"
         routerLinkActive="active"
         [ngClass]="tab.isActive ? 'active' : ''">
      <mat-icon [svgIcon]="tab.icon"></mat-icon>
    </div>
  </div>

  <div class="sidebar-nav-bottom">
    <div class="sidebar-nav-item" *ngFor="let tab of sidebarBottomNav"
         (click)="!tab ? logout() : goToPage(tab.path)"
         [ngClass]="tab.isActive ? 'active' : ''">
      <mat-icon [svgIcon]="tab.icon"></mat-icon>
    </div>
  </div>
</div>
