<div class="chat-bar">
  <div class="chat-bar-title">
    <div class="chat-bar-title-text">{{'MESSAGES' | translate}}</div>
    <div class="chat-bar-title-icon">
      <mat-icon svgIcon="dots"></mat-icon>
    </div>
  </div>

  <div class="chat-bar-action">
    <app-input [formControl]="searchChatControl"></app-input>
    <button class="btn">
      <mat-icon svgIcon="plus"></mat-icon>
      {{'START_NEW_CHAT' | translate}}</button>
  </div>
  <div class="user-chat" (click)="openUserCard(user)" *ngFor="let user of CMockUserMessages">
    <app-user-chat-message [user]="user"></app-user-chat-message>
  </div>
</div>
